.message{
    text-align: right;
    margin: 15px 0;
}

.message div {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 7px;
    background-color: #d5d5d5;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #b77d20;
    position: relative;
}

.message div:after{
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    background: #d5d5d5;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 100% 100%);
    right: 0;
    bottom: -3px;
}